{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cal-culator</TITLE>
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Cal-culator</TITLE>
                <link rel="stylesheet" href="{% static 'css\index.css'%}" />
                <link rel="stylesheet" href="{% static 'css\bodyfat.css'%}" />
                <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap" rel="stylesheet">
            </head>
    </head>
    <body bgcolor ="white" text="black">
        <header>
            <img src="{% static 'img\logo_white.png'%}" width="150" height="150"></img>
            <ul>
                <li><a href="{% url 'index' %}" >Home</a></li>
                <li><a href="{% url 'Measure' %}" class="active" >Measure</a></li>
                <li><a href="{% url 'Account' %}"  >Account</a></li>
            </ul>
          </header>

     <div>
        <h2>Body fat</h2>
        <p>The body fat percentage (BFP) of a human or other living being is the total mass of fat divided by total body mass, multiplied by 100; body fat includes essential body fat and storage body fat. Essential is necessary to maintain life and reproductive functions.
            What is the normal body fat percentage?
            </p>
        <img src="{% static 'img\Body_fat.jpg'%}" alt="">
        <img src="{% static 'img\Body_fat2.jpg'%}" alt="">
        <h3>Body fat percentage table for women </h3>  <br>
        <img src="{% static 'img\Women_fat.jpg'%}" alt="">
        <h3>Body fat percentage table for men</h3>    <br>
        <img src="{% static 'img\Man_fat.jpg'%}" alt="">  <br>
        <p> <h3>  How to calculate body fat?  </h3>
            To calculate body fat percentage, add your waist and hip measurements, and then subtract the neck measurement to determine your circumference value. For example, if your waist is 30, your hips are 36, and your neck is 13, your circumference value would be 53.
            <br>
            
            
             <h3>  Types of body fat-  </h3>
            There are three different types of fat cells in the body: white, brown, and beige. Fat cells can be stored in three ways: essential, subcutaneous, or visceral fat. Essential fat is necessary for a healthy, functional body.
            
            </p>
            <img src="{% static 'img\Types_of_fat.jpg'%}" alt="">  <br>
            <img src="{% static 'img\Methods.jpg'%}" alt="">

    </div>
    </body>
    </html>
	




    




	