{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <title>Cal-culator</title>
          <link rel="stylesheet" href="{% static 'css\index.css'%}" />
          <link rel="stylesheet" href="{% static 'css\Measure.css'%}" />
    </head>
    <header>
      <img src="{% static 'img\logo_white.png'%}" width="150" height="150"></img>
      <ul>
          <li><a href="{% url 'index' %}" >Home</a></li>
          <li><a href="{% url 'Measure' %}" class="active" >Measure</a></li>
          <li><a href="{% url 'Account' %}"  >Account</a></li>
      </ul>
    </header>
    <body>
            <div class="dropdown">
              <button class="dropbtn">Select your choice</button>
              <div class="dropdown-content">
                <a href="{% url 'BMI' %}">BMI Calculator</a>
                <a href="{% url 'BMR' %}">BMR Calculator</a>
                <a href="#">Body Fat</a>
                <a href="#">Calorie Per 100gm</a>
              </div>
            </div>
    </body>
</html>