body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  /* background-image: linear-gradient(120deg,#ff6b6b, #5f27cd); */
  background-image: url("https://images.unsplash.com/photo-1535663056733-99fe376422cf?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=4000&ixid=MnwxfDB8MXxyYW5kb218MHx8LGZydWl0c3x8fHx8fDE2MjYwMjM3NzY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  /* background: linear-gradient(#02aab0,#46DC85); */
  min-height: 400vh;
}
div {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ee5253;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
.text {
  text-align: left;
  margin-left: 150px;
}
#w,
#h,
#a {
  color: #222f3e;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #341f97;
  width: 200px;
}
#w:focus,
#h:focus,
#a:focus {
  border-bottom: 2px solid #341f97;
  width: 300px;
  transition: 0.5s;
}
#result {
  color: #341f97;
}
#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-image: linear-gradient(120deg, #ff6b6b, #9a96a1);

  /* background: linear-gradient(#02aab0,#46DC85); */
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
#btn:hover {
  box-shadow: 1px 1px 10px #341f97;
}
#info {
  font-size: 12px;
  font-family: inherit;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.info_BMR {
  position: relative;
  text-align: justify;
  top: 1800px;
  width: 1000px;
  font-size: 20px;
}
